services:
  redis:
    image: redis:7-bookworm
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 5s
      retries: 2
      start_period: 1s

  queue:
    image: tenancy-queue-test-cli
    working_dir: /var/www/html
    user: www-data
    command: php artisan queue:work -vvv
    healthcheck:
      test: ["CMD-SHELL", "pidof php"]
      interval: 30s
      timeout: 2s
      retries: 2
      start_period: 2s
    depends_on:
      redis:
        condition: service_healthy
    volumes:
      - ./src:/var/www/html
      # When testing a local tenancy version, you can use a symlink in combination with:
      # - ~/Projects/tenancy:/var/www/html/vendor/stancl/tenancy
